:root{
    --gray-background:#F2F2F2;
    --font-primary:#0065FC;
    --font-secodary:#DEEBFF;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    /* font-optical-sizing: auto; */
    font-style: normal;
}
/* Start Header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0%;
    height: 15vh;
}

.reservia_title{
    font-size: 25px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: var(--font-primary);
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation li{
    list-style-type: none;
    margin: 0 30px 0px 30px;
}

.navigation li>div{
    height: 2px;
    margin-bottom: 5px;
    background-color: var(--font-primary);
    width: 0%;
    transition: 1s;
}

.navigation li:hover>div{
    width: 100%;
}

.navigation li a{
    text-decoration: none;
    color: rgb(66, 64, 64);
}

.navigation li a:hover{
    color: var(--font-primary, 0.1);
    transition: all ease-out;
}
#login a{
    color: var(--font-primary);
    font-weight: 800;
}

/* End Header */
/* Start Body */
body section, body .header, body .informations{
    padding: 0 10% 0 10%;
}

.informations .slogan_message{
    margin-top: 5px;
    font-size: 15px;
    color: rgb(96, 94, 94);
}

.informations .search{
    display: flex;
    position: relative;
    margin: 15px 0;
}

.informations .icon{
    display: flex;
    background-color: var(--gray-background);
    width: 40px;
    height: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.informations .search input{
    height: 40px;
    padding: 10px;
    border: var(--gray-background) 1.5px solid;
    outline: none;
}

.informations .search button{
    height: 40px;
    padding: 10px;
    border: none;
    background-color: var(--font-primary);
    color: white;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}
.informations .filter{
    display: flex;
    justify-content: start;
    align-items: center;
}

.informations .filter .filter_items{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0px 20px 0px 20px;
    position: relative;
}

.informations .filter .filter_items .icon_filter{
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    color: var(--font-primary);
    background-color: var(--font-secodary);
    border-radius: 50%;
    position: absolute;
}

.informations .filter .filter_items button{
    height: 40px;
    border: var(--gray-background) 3px solid;
    background-color: white;
    padding-left: 50px;
    padding-right: 15px;
    border-radius: 17px 17px 17px 17px;
    font-weight: bold;
    cursor: pointer;
}

.informations .show_info{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 30px 0px;
}

.informations .show_info .icon_information{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: var(--gray-background) 2px solid;
    color: var(--font-primary);
    margin-right: 10px;
}

.informations .show_info .info{
    font-size: 15px;
    color: rgb(96, 94, 94);
}

#hebergement_a_marseille{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
}

#hebergement_a_marseille .hebergement{
    width: 65%;
    height: 100%;
    background-color: var(--gray-background);
    border-radius: 20px;
    padding: 27px 27px;
    margin-right: 15px;
    position: relative;
}
.hebergement h3{
    margin-bottom: 15px;
}

.hebergement .hebergement_card{
    margin: 15px 15px 0px 0px;
    background-color: #fff;
    padding: 5px ;
    border-radius: 25px;
    box-shadow: 2px 2px 2px var(--gray-background) ;
}
.hebergement .hebergement_card img{
    height: 50%;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.hebergement .hebergement_card h5{
    font-weight: bold;
    margin-top: 5px;
}

.hebergement_card p{
    margin-top: 5px;
    color: rgb(96, 94, 94);
}

.hebergement_card p span{
    font-weight: bold;
    color: #0f0f0f;
}

.hebergement_card .star{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 5px 0px;
    padding-bottom: 0px;
    color: var(--font-primary);
}

.hebergement_card .star .star1{
    color: var(--gray-background);
}


#hebergement_a_marseille .populaire{
    background-color: var(--gray-background);
    width: 35%;
    height: 100%;
    border-radius: 20px;
    padding: 10px 27px;
    margin-left: 15px;
}

.populaire .populaire_title{
    display: flex;
    justify-content: start;
    align-items: center;
}

.populaire_title div{
    margin: auto;
}

.populaire .hebergement_card{
    display: flex;
    width: 100%;
    background-color: #fff;
    padding: 5px ;
    border-radius: 25px;
    box-shadow: 10px 20px 2px var(--font-secodary) ;
}

.populaire .hebergement_card{
    display: flex;
    width: 100%;
    background-color: #fff;
    padding: 3px ;
    border-radius: 25px;
    box-shadow: 10px 10px 7px var(--gray-background);

}

.populaire .hebergement_card img{
    display: flex;
    width: 50%;
    background-size: cover;
    align-items: center;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.hebergement_card .info_pop{
    margin-left: 15px;
}
.hebergement .card_list{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px;
    gap: 30px;
    width: 100%;
    height: 100%;
}

.show_more{
    position: absolute;
    bottom: 0px;
}
.show_more:hover{
    cursor: pointer;
    color: var(--font-primary);
}
.info_pop .star{
    margin-top: 15px;
}
.populaire{
    display: grid;
    flex-direction: column;
    height: 90vh;
    gap: 30px;
}

.populaire .card_list{
    display: grid;
    gap: 20px;
    margin-bottom: 10px;
}

#activite_a_marseille{
    width: 100%;
    height: 90vh;
    margin-top: 30px;
}

#activite_a_marseille h3{
    margin-bottom: 0px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.block1, 
.block2{
    display: flex;
    gap: 18px;  
    height: 100%;
    border-radius: 20px;
    padding: 27px 27px;
}

.block1 img, 
.block2  img{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.activity_card .a_cote{
    height: 86%;
}

.block1 .activity_card, .block2 .activity_card, #vieux_port{
    margin-top: 20px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 10px 10px 7px var(--gray-background);
}

/* #vieux_port{
    box-shadow: 10px 10px 7px var(--gray-background);
} */

.block1 .activity_card_content,
.block2 .activity_card_content,
.sous-block .activity_card_content{
    display: flex;
    align-items: center;
    padding: 15px;
}

.block .activity_card_content h4{
    font-weight: bold;
}

#footer{
    width: 100%;
    /* height: 100%; */
    background-color: var(--gray-background);
    margin-top: 30px;
    /* align-items: center; */
}

#footer .footer_grid{
    display: flex;
    padding: 0 10% 0 10%;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 20px;
}
.footer_about, .footer_hebergement, .footer_assistance{
    margin-top: 20px;

}
#footer .footer_grid div>li{
    list-style-type: none;
    margin-bottom: 10px;
}

#footer .footer_grid h4{
    margin-bottom: 15px;
}

#footer .footer_grid div>li a{
    text-decoration: none;
    color: rgb(96, 94, 94);
}

/* ---------------------------------------------------------------- */

/* Media query pour tablette*/

@media (max-width: 991px){

.informations .filter{
    display: flex;
    justify-content: start;
    align-items: center;
}

.informations .filter .filter_items{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0px 20px 0px 20px;
    position: relative;
}

.informations .filter .filter_items .icon_filter{
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    color: var(--font-primary);
    background-color: var(--font-secodary);
    border-radius: 50%;
    position: absolute;
}

.informations .filter .filter_items button{
    height: 40px;
    border: var(--gray-background) 3px solid;
    background-color: white;
    padding-left: 50px;
    padding-right: 15px;
    border-radius: 17px 17px 17px 17px;
    font-weight: bold;
    cursor: pointer;
}


    .hebergement .card_list{
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px;
        gap: 30px;
    }

    #hebergement_a_marseille{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    

    .populaire .hebergement_card img{
        display: flex;
        width: 50%;
        background-position: center;
        background-size: cover;
        align-items: center;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    #footer{
        justify-content: center;
        height: 100%;
    }

    #footer .footer_grid div>li a{
        font-size: 12px;
    }
}

/*  Media query pour telephone */

@media (max-width: 767px){

*{
    box-sizing: border-box;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-style: normal;
}
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2% 0%;
        height: 15vh;
    }
    .reservia_title{
        margin-top: 20px;
    }
    header div {
        padding-top: 2%;
    }
    nav {
        flex-direction: row;
        font-size: 15px;
        align-items: flex-start;
        margin-bottom: 10px;
        padding: 15px
    }

    .informations .filter{
        display: grid;
        gap: 5px;
    }

    #hebergement_a_marseille{
        display: grid;
        flex-direction: column;
    }

    #hebergement_a_marseille .hebergement{
        width: 100%;
        margin-bottom: 50px;
    }

    #hebergement_a_marseille .populaire{
        width: 100%;
    }

    #hebergement_a_marseille aside{
        margin-top: 60px;
    }

    .hebergement .card_list{
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 300px;
        gap: 30px;
    }

    #activite_a_marseille{
        margin-top: 60px;
    }

    .activity_card .a_cote{
        height: 86%;
    }

    /* .block1, .block2{
        height: 100%;
        display: flex;
        flex-direction: column;
    } */

    .sous-block {
        display: flex;
        flex-direction: column;
    }

    .five,.two, .three{
        margin-bottom: 40px;
    }

    .card{
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    .block1, .block2{
        display: flex;
        flex-direction: column;
        gap: 10px;
        /* height: 100%; */
        border-radius: 20px;
        padding: 20px 20px;
    }

    /*Le footer*/
    #footer{
        
        width: 100%;
        /* height: 100%; */
        background-color: var(--gray-background);
        margin-top: 35px;
        bottom: 0;
    }

    #footer .footer_grid{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}